* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body,
html {
  overflow: hidden;
}

body,
html {
  box-sizing: border-box;
  width: 100%;
}

.container {
  font-family: sans-serif;
  font-size: 16px !important;
  font-weight: 400;
  line-height: var(--chatLineHeight);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: var(--chatWidth);
}

.chat {
  width: var(--chatWidth);
  height: 100vh;
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-columns: auto;
  grid-template-areas:
    "client_header"
    "client_primary";
}

.chat-primary {
  display: grid;
  grid-template-rows: auto;
  overflow: hidden;
  position: relative;
  grid-template-columns: auto;
  grid-template-areas: "chat_primary";
}

.chat-primary-view {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-area: chat_primary;
  grid-template-areas: "chat_primary_contents";
}

.chat-primary-view,
.chat-primary-view-contents {
  min-width: 0;
  min-height: 0;
}

.chat-primary-view-contents {
  display: flex;
  flex-direction: column;
  grid-area: chat_primary_contents;
}
.chat-contents-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.chat-primary-body {
  flex: 1;
  min-height: 0;
  position: relative;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .chat {
    width: 100vw;
  }

  /*To prevent auto-zoom in Safari*/
  .safari textarea {
    font-size: 16px;
  }
}

/* .chat {
  display: flex;
  flex-direction: column;
  background: #f1f0e8;
  width: 100% !important;
  height: 100%;
} */

.chat-header {
  display: block;
  position: relative;
  height: var(--headerHeight);
  z-index: 15;
}
.profile {
  width: 100%;
  background: #036055;
  display: flex;
  align-items: center;
  height: var(--headerHeight);
  padding: 0px 10px;
}
.profile .pp {
  width: 50px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 32px;
}
.profile .arrow {
  display: inline-block;
  width: 30px;
  position: absolute;
  top: 19px;
  cursor: pointer;
}
.profile h2 {
  display: inline-block;
  line-height: 60px;
  vertical-align: bottom;
  color: #fff;
  font-size: 20px;
}
.profile span {
  color: #ccc;
  position: absolute;
  top: 42px;
  left: 100px;
  font-size: 14px;
}
.right .icon {
  display: inline-block;
  width: 25px;
  margin-left: 10px;
}
.profile .left {
  flex: 1;
}

.chat-box {
  background: url("../img/bg.jpeg");
  background-attachment: fixed;
  padding-left: 20px;

  height: auto;
  top: -8px;
  bottom: 0;
  width: 100%;
  position: absolute;
  overflow: auto;
}
.chat-box .img_chat {
  width: 280px;
}

.chat-r {
  display: flex;
}
.chat-r .sp {
  flex: 1;
}

.chat-l {
  display: flex;
}
.chat-l .sp {
  flex: 1;
}

.chat-box .mess {
  max-width: 300px;
  background: #f7fcf6;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0px;
  cursor: pointer;
}
.chat-box .mess p {
  word-break: break-all;
  font-size: 18px;
}
.chat-box .mess-r {
  background: #e2ffc7;
}
.chat-box .emoji {
  width: 20px;
}
.chat-box .check {
  float: right;
}
.chat-box .check img {
  width: 20px;
}
.chat-box .check span {
  color: #888;
  font-size: 12px;
  font-weight: 700px;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #aaa;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat-footer > form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-footer textarea {
  display: block;
  flex: 1;
  width: 100%;
  height: 50px;
  border-radius: 60px;
  margin: 5px;
  padding: 10px;
  outline: none;
  font-size: 19px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid #ccc;
  color: #555;
  resize: none;
}

.chat-footer .emo,
.mic {
  display: block;
  border: 0;
  width: 55px;
  height: 55px;
  font-size: 0;
  margin: 5px;
  padding: 0;
  transition: color 0.3s;
  box-shadow: none;
}
.chat-footer .icons {
  position: absolute;
  right: 100px;
  top: 10px;
}
.chat-footer .icons img {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

.chat-footer form {
  display: flex;
  line-height: 35px;
  min-height: 45px;
  margin: 0;
  padding: 0;
}

:root {
  --headerHeight: 80px;
  --chatBorder: solid 0px #000;
  --chatBorderRadius: 0px;
  --chatWidth: 375px;
  --chatHeight: 95%;
  --chatLineHeight: 1.46668;
}
